*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* ------------------> BODY <------------------ */

body{
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    background-color: #ebebeb;
    margin: 0;
}
