/* ------------------> HEADER <------------------ */

header{
    background-color: #EAC926;
}

/* LOGO  */

.logoYLupa{
    display: flex;
    justify-content: space-between;
}

.logoDireccion{
    width: 50%;
    padding: 10px;}


/* BANNER */

.imagenBanner{
    display: block;
    width: 100%;
    background-repeat: no-repeat;
}

/* BARRA BUSCADOR  */

.barraBuscador{
    width: 100%;
    border-radius: 5px 0px 0px 5px;
    border: none;
    color: #666;
    padding-left: 5px;
}

.formBuscador{
    background-color: white;
    border-radius: 0px 5px 5px 0px;
}

.lupa{
    width: 50%;
    border-radius: 10px;
    padding: 10px;
    display: flex;
}

.lupa i{
    margin: 7px;
    font-size: 20px;
    color: black;
}

/* ----------> NAVEGADOR <---------- */

/* NAVEGADOR NORMAL*/

nav{
    display: none;
    margin-left: 10px;
    margin-bottom: 30px;
    
}

.textoTarjetaDeCredito{
    margin: 15px 0px;
    display: flex;
    justify-content: center;
}

.textoTarjetaDeCredito p{
    display: inline;
}

.textoTarjetaDeCredito i{
    display: inline;
    font-size: 25px;
}

nav ul a{
    text-decoration: none;
    color: black;
}

nav ul{
    list-style: none;
}

/* MENÚ BURGUER */

.burger-menu{
    margin: 25px;
    text-align: center;
    padding: 10px auto; 
}

.burger-menu i{
    border-radius: 10px;
    background-color: #1259c3;
    font-size: 30px;
    padding: 10px;
    color: white;
}


/* ------------------> RESPONSIVE <------------------ */

/* ------------------> TABLET <------------------ */

@media (min-width: 361px){
    
    header nav{
        text-transform: uppercase;
    }
    
    .lupa{
        display: flex;
        flex-direction: row;
    }
    
    .logoLupaCuotas{
        display: flex;
        align-items: center;
        flex-direction: row;
    }
    
    .logoImg{
        margin: 10px 5px;
    }

    .logoYLupa{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 70%;
    }

    .textoTarjetaDeCredito{
        width: 30%;
        display: flex;
        font-size: 12px;
    }
    
    nav li{
        margin: 0px 10px;
    }
    
    nav{
        margin: 10px 30px;
        display: flex;
        flex-direction: row;
        justify-content: space-between; 
        align-items: center;
    }
    
    /* NAVEGADOR SIN ICONOS  */
    
    .navegadorML{
        display: flex;
        flex-direction: row;
        width: 50%;
        margin: 20px 0px;
    }
    
    /* NAVEGADOR CON ICONOS  */
    
    .navegadorIconos{
        display: flex;
    }

    /* TXT CUOTAS SIN INTERES  */

    .textoTarjetaDeCredito{
        margin: 15px 0px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }


    /* BURGUER MENU  */

    .burger-menu{
        display: none;
    }
}

/* ----------> DESCKTOP <---------- */

@media (min-width: 769px){

    nav{
        font-size: 1rem;
    }

    .logoLupaCuotas {
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-around;
    }

    .textoTarjetaDeCredito{
        font-size: 1rem;
    }
}