
/* ------------------> RESPONSIVE <------------------ */

/* ----------> TABLET <---------- */

@media (min-width: 361px){
}

/* ----------> LAPTOP <---------- */

@media (min-width: 769px){
    .detalles-productos{
        color: blue;
        font-size: 1rem;
        display: block;
    }

    h1{
        color: red;
    }

    .cajaSectionArticle{
        background-color: blue;
    }


}