@import url(body.css);
@import url(header.css);
@import url(footer.css);

/* ------------------> MAIN <------------------*/

main{
    background-color: white;
    margin: 50px auto;
    width: 90%;
    margin: auto;
}

h1{
    font-size: 24px;
}

h2{
    font-size: 18px;
}


/* SECCION  */

section{
    background-color: #ebebeb;
}

section h1{
    margin: 10px 0px;
    padding: 15px 0px;
    color: #666;
    font-size: 18px;
    margin-left: 6px;
    text-transform: uppercase;
    font-weight: bold;
}

section p{
font-size: 16px;
margin: 2px;
margin-right: 6px;
}

/* ARTICULOS */

article{
    margin: 10px 0px;
    padding: 15px;
    padding-bottom: 0px;
    background-color: white;
}

article:hover{
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}

.cajaArticuloSection{
    display: flex;
}

.itemsArticulos:hover > h2{
    display: block;
    transition: all 0.2s;
}

article h2{
    display: none;
    margin-top: 15px;
}

section article img{
    width: 100%;
    
}

.itemsArticulos{
    display: flex;
    flex-direction: column;
    border-top: #ebebeb solid 1px;
    padding: 15px;
}

.itemsArticulos i{
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 35px;
    margin-top: -30px;
}

.itemsArticulos i:hover{
    transform: rotate(-90deg);
    transition: 1.2s;
}


.itemsArticulos i, .porcentajeDescuento{
    color: #39b54a;
}

/* ------------------> FORMULARIO LOGIN <------------------ */

/* ------------------> RESPONSIVE <------------------ */

/* ------------------> TABLET <------------------ */

@media (min-width: 361px){
 

    /* SECTION  */

    section h1{
        margin: 0px 50px;
    }

    .cajaSectionArticle{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    /* ARTICLE  */
    
    article{
        width: 40%;
        margin-left: auto;
        margin-right: auto;
    }

    article h2{
        display: block;
    }

    /* CAMION VERDE  */

}
.itemsArticulos i {
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: relative;
    margin-left: 100%;
    margin-top: -30px;
}

/* ----------> DESCKTOP <---------- */

@media (min-width: 769px){

    
    main{
        background-color: #ebebeb;
    }

    section h1{
        margin-left: 10px;
    }

    .cajaSectionArticle {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }   
    
    section h1{
        font-size: 2rem;
        margin: 15px;
    }

    article{
        width: 21%;
        margin: 5px 10px;
    }
    
    article h2{
        display: block;
    }

    .cajaArticuloSection p, .article h2{
        font-size: 20px;
    }

    /* REGISTRO / LOGIN */

    form button{
        font-size: 25px;
    }
}