<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include ('./partials/head') %>  
        <link rel="stylesheet" href="/css/login.css">
    </head>
<body>

    <%- include ('./partials/header') %>  

    <main>
        <form class="formularioLogin" action="/login" method="POST" >
            <p class="pRegistro">
                <label name="username" value="username">Nombre de usuario: </label>
                <input type="text" id="username" name="username" placeholder="Nombre de usuario" pattern="^[a-zA-Z0-9\_\-]{4,16}$" required>
            </p>
            <p class="pRegistro">
                <label name="password">Ingrese su contraseña: </label>
                <input type="password" id="password" name="password" pattern="^.{4,12}$" required>
            </p>
            
            <p class="pRegistro">

                <button type="submit" name="btnsubmit" id="submit">Envíar</button>
            </p>
            
            
        </form>
    </main>

    <%- include ('./partials/footer') %>  

    </body>
    </html>