<!DOCTYPE html>
<html lang="en">
    <%- include ('./partials/head') %> 
    <link rel="stylesheet" href="./css/products.css"> 

<body>
    <%- include ('./partials/header') %>  
    <main>
        <section>
        
            <h1>Todos los productos</h1>
            <div class="cajaSectionArticle">  
                    <article class="articuloSection">
                        <img src="/images/img-cafetera-moulinex.jpg">
                        <div class="itemsArticulos">
                            <i class="fa-solid fa-truck"></i>
                            <div class="cajaArticuloSection">
                                <p class="precioProducto">$6.770</p>
                                <p class="porcentajeDescuento">40% OFF</p>
                            </div>
                            <h2>Cafetera Moulinex</h2>
                            <a href="/products/1">Ver más</a>
                        </div>
                    </article>
                </section>     

    </main>
    <%- include ('./partials/footer') %>  

</body>
</html>
    