<header>
    <div class="logoLupaCuotas">
        <div class="logoYLupa">
            <a class="logoDireccion" href="/">
                <img class="logoImg" src="/images/logo-mercado-liebre.svg" alt='"Logo Mercado Liebre"' type="img/svg">
            </a>
            <form class="lupa">
                
                <input class="barraBuscador" type="text" value="Buscar productos, marcas">
                <div class="formBuscador">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </div>
            </form>
        </div>
        
        <div class="textoTarjetaDeCredito">
            <i class="fa-solid fa-hand-holding-dollar"></i>
            <p>Comprá en cuotas y sin tarjeta de crédito</p>
        </div>
    </div>
    
    <nav>
        <ul class="navegadorML">
            <li><a href="/products">Productos</a></li>
            <li><a href="#">Ofertas</a></li>
            <li><a href="#">Mis compras</a></li>
            <li><a href="/products/create">Vender</a></li>
            <li><a href="#">Ayuda</a></li>
        </ul>
        <ul class="navegadorIconos">    
            <li>
                <i class="fa-regular fa-id-card"></i>
                <a href="/users/register">Creá tu cuenta</a>
            </li>
            <li>
                <i class="fa-solid fa-right-from-bracket"></i>
                <a href="/users/login">Ingresá</a>
            </li>
            <li>
                <i class="fa-solid fa-user-astronaut"></i>
                <a href="/users/profile">Perfil</a>
            </li>
        </ul>
        
    </nav>
    <div class="burger-menu">
        <i class="fas fa-bars"></i>
    </div>
    
    <img class="imagenBanner" src="/images/img-home-banner.jpg" alt="imgagen banner">
</header>